openai
langchain
langchain_openai
langgraph 
langchain_experimental 
langsmith 
pandas
python-dotenv
langchain_anthropic
langchain_openai
IPython
langchain-community
langchain-anthropic
tavily-python
flask
langchain-aws
rich
boto3
pymongo
fastapi
langchain_groq
qdrant_client

